@import '../../../variables';
@import '../../../base/styles/functions/color';

.slider {
    &-controls {
        font-size: 0;
        line-height: 0;

        &--prev,
        &--next {
            position: relative;
            display: inline-block;
            width: 40px;
            height: 40px;
            background: rgba(color('base'), .25);
            border-radius: 50%;
            z-index: 9;

            &:hover {
                background: rgba(color('base'), .5);
            }

            &:before {
                content: '';
                position: absolute;
                top: 16px;
                width: 10px;
                height: 10px;
                border-left: 2px solid color('base');
                border-bottom: 2px solid color('base');
            }
        }

        &--prev {
            &:before {
                left: 17px;
                transform: rotate(45deg);
            }
        }

        &--next {
            margin-left: 14px;

            &:before {
                right: 17px;
                transform: rotate(225deg);
            }
        }
    }
}
