### MAC specific files
.DS_Store

### IDE
.idea

### Composer
/vendor/

### TYPO3
/typo3_src/typo3/
/typo3_src/vendor/
/typo3conf/*
!/typo3conf/LocalConfiguration.php
!/typo3conf/AdditionalConfiguration.php
!/typo3conf/realurl_conf.php
!/typo3conf/l10n
!/typo3conf/ext
/typo3conf/ext/*
!/typo3conf/ext/project
# !/typo3conf/ext/<your_site_package>

/FIRST_INSTALL
/fileadmin
/uploads
/typo3temp
/typo3
/index.php

/app/config/typoscript/constants_local.typoscript

### Symfony
/app/config/parameters.yml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/bundles/

### GrumPHP
/grumphp.yml

### Assets
/node_modules/
/assets/components/
/assets/tasks/configuration_local.js

### Compiled assets
/css/*
!/css/.gitkeep
!/css/rte.css
/js/*
!/js/.gitkeep
/images/*
!/images/.gitkeep
/**/*.br
/**/*.gz
