### MAC specific files
.DS_Store

### IDE
.idea

### Composer
/vendor/

### TYPO3
/typo3_src/typo3/
/typo3_src/vendor/
/typo3conf/*
!/typo3conf/LocalConfiguration.php
!/typo3conf/l10n
!/typo3conf/ext
/typo3conf/ext/*
!/typo3conf/ext/project

/FIRST_INSTALL
/fileadmin
/uploads
/typo3temp
/typo3
/index.php

### Assets
/node_modules/
/assets/vendor/

### Compiled assets
/dist
