@import '../../../base/styles/functions/font';
@import '../../../base/styles/functions/size';

// Base Heading
.heading {
    display: block;
    color: inherit;
    font-family: font('main');
    font-weight: 300;
    text-decoration: none;
    overflow-wrap: break-word;
    line-height: 1.1;
}


.heading--1 {
    font-size: calc(#{size('one')} + .25vw);
}

.heading--2 {
    font-size: calc(#{size('two')} + .25vw);
}

.heading--3 {
    font-size: calc(#{size('three')} + .25vw);
}

.heading--4 {
    font-size: calc(#{size('four')} + .25vw);
}

.heading--5 {
    font-size: calc(#{size('five')} + .25vw);
}

.heading--6 {
    font-size: calc(#{size('six')} + .25vw);
}
