<section class="content-carousel js-slider">
    {# slides #}
    <div class="content-carousel-slides js-slider-slides">
        {% for slide in slides %}
            {{ include('content-carousel/item.html.twig', {
                'slide': slide,
            }) }}
        {% endfor %}
    </div>
    {# overlay #}
    <div class="content-carousel-overlay">
        {# overlay template placeholder #}
        <div class="content-carousel-overlay-container js-slider-overlay-container"></div>

        {% if slides|length > 1 %}
            {# controls #}
            <div class="content-carousel-controls">
                <a class="content-carousel-controls--prev js-slider-prev" href="javascript:void(0);"></a>
                <a class="content-carousel-controls--next js-slider-next" href="javascript:void(0);"></a>
            </div>
        {% endif %}
    </div>
</section>
