<header>
    <div class="container">
        <a href="/" class="logo">
            <img src="/dist/images/logo.png">
            <h1>{{ root.title }}</h1>
        </a>

        <ul class="navigation">
            {% for uid,title in navigation %}
                <li><a href="#c{{ uid }}" class="js-scroll-to">{{ title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</header>

<main>
    ###CONTENT0###
</main>

<footer>

</footer>
