<header>
    <div class="container">
        <a href="/" class="logo">
            <img src="/dist/images/logo.png">
            <strong>{{ root.title }}</strong>
        </a>

        <ul class="navigation">
            <li><a href="javascript:void(0);">About</a></li>
            <li><a href="javascript:void(0);">Progress</a></li>
            <li><a href="javascript:void(0);">Team</a></li>
            <li><a href="javascript:void(0);">Recruitment</a></li>
        </ul>
    </div>
</header>

<main>
    ###CONTENT0###
</main>

<footer>

</footer>
