@import '../../../variables';
@import '../../../base/styles/functions/color';
@import '../../../base/styles/functions/size';

$dotWidth: 24px;

.content-wheel {
    margin: 40px 0;

    .heading {
        text-align: center;
        margin-bottom: 30px;
    }

    .col-left {
        display: none;

        .wheel {
            display: none;
        }
    }

    .col-right {
        overflow: hidden;

        .panel {
            margin-bottom: 2px;

            &-header {
                position: relative;
                padding: 15px 30px 15px 10px;
                background: color('light');
                border: 1px solid rgba(color('soft'), .5);
                border-radius: #{$borderRadius};

                .heading {
                    text-align: left;
                    margin: 0;
                }

                .icon {
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    transform: translateY(-50%) rotate(90deg);
                    display: block;
                    width: 16px;
                    height: auto;
                    transition: all 300ms linear;
                }
            }

            &-body {
                display: none;
                padding: 20px 0;

                .bodytext {
                    p {
                        margin-bottom: 10px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            &.active {
                .panel {
                    &-header {
                        .heading {
                            font-weight: bold;
                        }

                        .icon {
                            transform: translateY(-50%) rotate(-90deg);
                        }
                    }

                    &-body {
                        display: block;
                    }
                }
            }
        }
    }
}

@media #{$mediaMinSM} and (orientation: portrait), #{$mediaMinMD} {
    .content-wheel {
        margin-top: 60px;
        margin-bottom: 60px;

        .container {
            overflow: hidden;
        }

        .heading {
            margin-bottom: 50px;
        }

        .col-left {
            display: block;
            margin-bottom: 30px;

            .wheel {
                position: relative;
                display: block;
                width: 300px;
                margin: 0 auto;
                padding: 30px;
                border: 2px solid color('primary');
                border-radius: 50%;

                &-items {
                    position: absolute;
                    top: calc(-#{$dotWidth} / 2);
                    left: calc(-#{$dotWidth} / 2);
                    right: calc(-#{$dotWidth} / 2);
                    bottom: calc(-#{$dotWidth} / 2);
                    list-style: none;
                }

                &-item {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: rotate(0deg);
                    display: block;
                    width: 0;
                    height: 100%;

                    &.active {
                        .wheel-dot {
                            box-shadow: 0 0 0 4px rgba(color('primary'), .5);
                        }
                    }
                }

                &-dot {
                    position: relative;
                    display: block;
                    width: #{$dotWidth};
                    height: #{$dotWidth};
                    background: color('base');
                    border-radius: 50%;
                    font-size: 0;
                    line-height: 0;
                    outline: 0;
                    transition: all 500ms ease;
                    cursor: pointer;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        display: block;
                        width: calc(#{$dotWidth} - 8px);
                        height: calc(#{$dotWidth} - 8px);
                        background: color('primary');
                        border-radius: 50%;
                    }
                }

                &.wheel--3 {
                    .wheel {
                        &-item {
                            &:nth-child(2) {
                                transform: rotate(120deg);
                            }

                            &:nth-child(3) {
                                transform: rotate(240deg);
                            }
                        }
                    }
                }

                &.wheel--4 {
                    .wheel {
                        &-item {
                            &:nth-child(2) {
                                transform: rotate(90deg);
                            }

                            &:nth-child(3) {
                                transform: rotate(180deg);
                            }

                            &:nth-child(4) {
                                transform: rotate(270deg);
                            }
                        }
                    }
                }

                &.wheel--5 {
                    .wheel {
                        &-item {
                            &:nth-child(2) {
                                transform: rotate(72deg);
                            }

                            &:nth-child(3) {
                                transform: rotate(144deg);
                            }

                            &:nth-child(4) {
                                transform: rotate(216deg);
                            }

                            &:nth-child(5) {
                                transform: rotate(288deg);
                            }
                        }
                    }
                }

                &.wheel--6 {
                    .wheel {
                        &-item {
                            &:nth-child(2) {
                                transform: rotate(60deg);
                            }

                            &:nth-child(3) {
                                transform: rotate(120deg);
                            }

                            &:nth-child(4) {
                                transform: rotate(180deg);
                            }

                            &:nth-child(5) {
                                transform: rotate(240deg);
                            }

                            &:nth-child(6) {
                                transform: rotate(300deg);
                            }
                        }
                    }
                }
            }

            .slider-controls {
                text-align: right;
                margin-top: -40px;

                &--prev,
                &--next {
                    background: rgba(color('void'), .25);

                    &:hover {
                        background: rgba(color('void'), .5);
                    }
                }
            }
        }

        .col-right {
            .panel {
                width: 100%;
                height: 100%;
                flex-shrink: 0;
                padding: 0;

                &-container {
                    display: flex;
                    align-items: flex-start;
                    transition: #{$sliderTransition};
                    transition-timing-function: #{$sliderTransitionTiming};
                    transform: translateX(0);
                }

                &-header {
                    background: none;
                    border: none;
                    border-radius: 0;
                    padding: 0;

                    .heading {
                        font-size: calc(#{size('three')} + .25vw);
                    }

                    .icon {
                        display: none;
                    }
                }

                &-body {
                    display: block;
                }
            }
        }
    }
}

@media #{$mediaMinMD} {
    .content-wheel {
        .heading--2 {
            position: relative;
            padding-bottom: 10px;

            &::after {
                content: '';
                position: absolute;
                width: 33%;
                transform: translateX(-50%) scaleX(0);
                height: 4px;
                bottom: 0;
                left: 50%;
                background-color: color('primary');
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
            }

            &:hover {
                &::after {
                    transform: translateX(-50%) scaleX(1);
                    transform-origin: bottom left;
                }
            }
        }

        .col-left,
        .col-right {
            float: left;
        }

        .col-left {
            width: 40%;
            margin-top: 40px;
            margin-bottom: 0;

            .wheel {
                width: 260px;
            }

            .slider-controls {
                margin-top: 30px;
                text-align: center;
            }
        }

        .col-right {
            width: 60%;
        }
    }
}

@media #{$mediaMinXL} {
    .content-wheel {
        margin-top: 100px;
        margin-bottom: 100px;

        .heading {
            margin-bottom: 70px;
        }

        .col-left {
            width: 45%;
            margin-top: 40px;

            .wheel {
                width: 300px;
            }

            .slider-controls {
                margin-top: 50px;
            }
        }

        .col-right {
            width: 55%;
            margin-top: 40px;
        }
    }
}
